@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

.nav {
    display: flex;
    justify-content: space_between;
    align-items: center;
}

.nav__logo--container {
    display: flex;
    align-items: center;
}

.nav__logo {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.nav__logo--title {
    font-size: 20px;
    font-weight: 900;
    margin-left: 20px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav__link, 
.nav__link-login,
.nav__link--primary {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.nav__container {
    width: 100%;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link-login {
    margin-left: 40px;
}

.nav__link--primary {
    padding: 8px 24px;
    border-radius: 20px;
    background-color: #6415ff;
    color: #fff;
}




