@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

/*

NAVBAR

*/

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--container,
.footer__logo--container {
    display: flex;
    align-items: center;
}

.nav__logo,
.footer__logo {
    width: 40px;
    height: 40px;
}

.nav__logo--title,
.footer__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 20px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 41px;
    line-height: 1.25;
    color: #1a202c;
}

p { 
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.no-cursor {
    cursor: not-allowed;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav__link,
.nav__link-login {
    color: #243e63;
}

.nav__link, 
.nav__link-login,
.nav__link--primary {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.nav__link--primary {
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17, 204);
}

.nav__link-login {
    margin-left: 40px;
}

.nav__link--primary {
    padding: 8px 24px;
    border-radius: 20px;
    background-color: #6415ff;
    color: #fff;
}

.btn__menu {
   background-color: transparent;
   font-size: 40px;
   text-align: center;
   border: none;
   color: #243e63;
   display: none;
}

.menu__backdrop {
    position: absolute;
    border: 1px solid rgb(229, 231, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    top: 0;
    left: 0;
    right: 0;
    margin: 8px;
    height: 50vh;
    width: 100vw;
    z-index: 100;
    transition: opacity 300ms ease;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #243e63;
}

.menu__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.menu__link {
    font-size: 21px;
    font-weight: 600;
    color: #243e63;
}

/*

HEADER

*/
.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    height: 64px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgba(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgba(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__email--logo {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img {
    width: 100%;
}

/*

FEATURES

*/

.row__narrow {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__tag {
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__title {
    width: 100%;
    max-width: 500px;
    margin: 56px 0 48px 0;
    font-size: 48px;
    font-weight: 900;
    color: rgba(36, 62, 99);
    line-height: 1.20;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
    width: 100%;
    max-width: 540px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.features {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.features__title,
.pricing__title {
    margin: 56px 0 48px 0;
    font-size: 48px;
    font-weight: 900;
    color: rgba(36, 62, 99);
    line-height: 1.20;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.features__para,
.pricing__para {
    max-width: 500px;
    text-align: center;
    
}

.feature__row {
    width: calc(100% / 3);
    margin-top: 80px;
    display: flex;
    align-items: flex-start;
}

.feature__img--wrapper {
    display: flex;
    margin-right: 16px;
    padding: 20px;
    border: 1px solid;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__para {
    width: 80%;
    font-size: 16px;
    margin-top: 16px;
    color: rgba(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/*

QUALITY

*/

.quality__description {
    width: 100%;
    max-width: 500px;
}

.btn {
    width: 140px;
    padding: 10px 0;
    margin-top: 48px;
    border: none;
    border-radius: 500px;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.quality__img {
    width: 80%;
    margin-left: 120px;
}

/*

STEPS

*/

.steps__img {
    width: 100%;
    max-width: 600px;
    margin-right: 120px;
}

.step {
    display: flex;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    margin-left: 24px;
}

.step__title {
    color: #243e63;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.step__para {
    width: 90%;
    margin: 16px 0;
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES

*/

.value__list {
    width: 100%;
    max-width: 540px;
    display: flex;
    gap: 56px;
}

.value__title {
    margin-top: 48px;
    display: flex;
    align-items: center;
}

.value__img {
    width: 48px;
    height: 40px;
} 

.value__name {
    margin-left: 16px;
    color: #243e63;
    font-size: 20px;
    font-weight: bold;
}

.value__para {
    margin-top: 16px;
    color: #718096;
    line-height: 1.625;
}

/*

PRICING

*/

.pricing__para {
    margin-bottom: 2rem;
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    height: 38rem;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    text-align: center;
    color: rgb(26 32 44);
}

.plan__stripe {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 24rem;
    height:  0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
    color: #f7fafc;
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(3) .plan__stripe, 
.plan:nth-child(3) .plan__button {
    color: rgb(247, 250, 252);
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
    border-bottom: 1px solid #a0aec0;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan:nth-child(1) .plan__duration,
.plan:nth-child(3) .plan__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.plan__name,
.plan__price,
.plan__duration {
    font-weight: 700;
    line-height: 1.625;
}

.plan__middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 24rem;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #a0aec0;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.plan__bottom {
    width: 24rem;
    padding: 1rem;
    margin: auto 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.plan__button {
    width: 192px;
    padding: 18px;
    border: none;
    border-radius: 500px;
    color: #fff;
    font-weight: 600;
    font-size: 16px; 
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan__list {
    display: flex;
    gap: 3rem;
}

/*

TESTIMONIALS

*/
.testimonial__img {
    width: 100%;
    max-width: 560px;
}

.testimonial__middle {
    margin-top: 3rem;
}

.ratings {
    color: rgba(246, 173, 85);
    margin-bottom: 1.5rem;
}

.testimonial__title {
    letter-spacing: 0.025rem;
    margin-bottom: 2rem;   
}

.testimonial__para {
    max-width: 540px;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.profile__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonial__details {
    margin-left: 2rem;
    margin-right: 12rem;
}

.testimonial__role {
    margin-top: 8px;
    color: #718096;
}

.testimonial__buttons {
    display: flex;
    gap: 16px;
}

.left__btn,
.right__btn {
    width: 40px;
    height: 40px;
    color: #6415ff;
    border: none;
    border-radius: 50%;
}

/*

START

*/

.start__box {
    background-color: #6415ff;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.start__para {
    margin-left: 10rem;
    max-width: 500px;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.start__btn {
    color: #fff;
    background-color: rgb(245, 101, 101);
    padding: 24px 36px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 24px;
}

.start__btn--primary {
    padding: 24px 36px;
    border-radius: 50px;
    color: #fff;
    border-color: #fff;
    background-color: #6415ff;
    font-size: 16px;
    font-weight: bold;
}

/*

FOOTER

*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.footer__column--title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.footer__column--link {
    font-size: 16px;
    line-height: 2;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer__logo--title {
    color: #fff;
}

.footer__copyright {
    color: #fff;
}

.footer__socials {
    display: flex;

}

.footer__social--links {
    padding: 8px;
    border-radius: 50px;
    background-color: #fff;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .nav__links {
        display: none;
    }

    .nav__logo--title {
        font-size: 32px;
    }

    .btn__menu {
        display: flex;
        flex-direction: column;
    }

    .nav__row {
        
    }

    .row {
        display: block;
        margin-left: 7rem;
        text-align: center;
    }

    h1 {
        font-size: 32px;
    }

    .header__description--para {
        font-size: 20px;
    }

    .header__description {
        width: 100%;

    } 

    .header__email {
        width: 60vw;
        margin: auto;
    }

    .header__email--logo {
        width: 90vw;
        margin-left: 4rem;
    }

    .header__img {
        width: 85vw;
        margin: 4rem;
    }
        
    



}

@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
}

 
